<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href=".">Classic Book Report</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      {% if session['username'] %}
      <li class="nav-item">
        <a class="nav-link">
          <i class="fas fa-user ar-1"></i>{{ session['username']}}
        </a>
      </li>
      <li class="nav-item">
        <form action="{{ url_for('auth.logout')}}" method="post" class="form-inline">
            <button class="btn btn-dark">Log Out</button>
        </form>
      </li>
      {% else %}
      <li class="nav-item"><a class="nav-link" href="{{ url_for('auth.login')}}">Log In</a></li>
      <li class="nav-item"><a class="nav-link" href="{{ url_for('auth.register')}}">Register</a></li>
      {% endif %}
    </ul>
    <form class="form-inline my-2 my-lg-0" action="{{ url_for("books.search")}}" method="GET">
      <input class="form-control mr-sm-2" type="search" name="q" placeholder="Search" aria-label="Search">
      <input type="hidden" name="page" value="1">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>