<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock  %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    {% include 'macros/_flash_messages.html' %}
    {% if session['username'] %}
        <h3>{{ session['username']}}</h3>
        <form action="{{ url_for('auth.logout')}}" method="post">
            <button>Log Out</button>
        </form>
    {% endif %}
    {% block content %}{% endblock  %}
</body>
</html>