{% extends 'base.html' %}

{% block title %}{{ book.title }}{% endblock  %}

{% block content %}
    {% include 'macros/_flash_messages.html' %}
    <div class="container mb-3">
        <div class="row mb-3">
            <div class="card-deck ml-3 mr-3">
                <div class="book-card">
                    <div class="card-header">
                        {{ book.title }}
                    </div>
                    <div class="card-body">
                        <ul>
                            <li>Author: {{ book.author }}</li>
                        </ul>
                    </div>
                </div>
                <div class="goodreads-card">
                    <div class="card-header">
                        Goodreads
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="rating-card">
                <div class="card-header">
                        Ratings
                </div>
                {% if ratings %}
                    <ul>
                    {% for rating in ratings %}
                        <li>{{ rating.username }} <span class="badge badge-primary mr-2 ml-2">{{ rating.rating }}</span> {{ rating.comment }}</li>
                    {% endfor %}
                    </ul>
                {% else %}{% endif %}
            </div>
        </div>
    </div>
{% endblock %}