{% extends 'base.html' %}

{% block title %}{{ book.title }}{% endblock  %}

{% block content %}
    {% include 'macros/_flash_messages.html' %}
    <div class="container">
        <div class="row mb-4">
            <div class="col-md-7">
                <div class="card  book-card text-center shadow-lg">
                    <div class="card-header">
                        <span class="lead">{{ book.title }}</span>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Author: {{ book.author }}</li>
                        <li class="list-group-item">Year: {{ book.year }}</li>
                        <li class="list-group-item">ISBN: {{ book.isbn }}</li>
                    </ul>
                    {% if  has_review %}
                    <div class="card-body">
                        <a href="{{ url_for('reviews.update_review', isbn=book.isbn)}}" class="card-link btn btn-primary mr-2 float-left">Update Review</a>
                        <form action="{{ url_for('reviews.delete_review', isbn=book.isbn)}}" method="post" class="float-right">
                            {{ form.hidden_tag() }}
                            <button class="btn btn-danger">Delete Review</button>
                        </form>
                    </div>
                    {% else %}
                    <div class="card-body rating-buttons text-center">
                        <a href="{{ url_for('reviews.create_review', isbn=book.isbn)}}" class="btn btn-primary">Write Review</a>
                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-5 mt-4 mt-md-0">
                <div class="card text-center shadow-lg">
                    <div class="card-header">
                        Goodreads
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Average Rating: {{ goodreads_data['average_rating'] }}</li>
                        <li class="list-group-item">Total Ratings: {{ goodreads_data['work_ratings_count'] }}</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col">
                <div class="card">
                    <div class="card-header  text-center">
                        Ratings
                    </div>
                    {% if reviews %}
                    <ul class="list-group list-group-flush">
                    {% for review in reviews %}
                        <li class="list-group-item">{{ review.username }}
                            <span class="badge badge-primary mr-2 ml-2">{{ review.rating }}</span>
                            {{ review.comment }}
                        </li>
                    {% endfor %}
                    </ul>
                {% else %}
                <div class="card-body">
                    <p class="card-text text-center">There are no reviews.</p>
                </div>
                {% endif %}
                <div class="card-footer text-muted">
                </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}