{% extends 'base.html' %}

{% block title %}{{ book.title }}{% endblock  %}

{% block content %}
    {% include 'macros/_flash_messages.html' %}
    <div class="container">
        <div class="row mb-4">
            <div class="col-md-7">
                <div class="card text-center">
                    <div class="card-header">
                        {{ book.title }}
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Author: {{ book.author }}</li>
                        <li class="list-group-item">Year: {{ book.year }}</li>
                        <li class="list-group-item">ISBN: {{ book.isbn }}</li>
                    </ul>
                    {% if  has_rating %}
                    <div class="card-body">
                        <a href="{{ url_for('ratings.update_rating', isbn=book.isbn)}}" class="card-link btn btn-primary mr-2 float-left">Update Review</a>
                        <form action="{{ url_for('ratings.delete_rating', isbn=book.isbn)}}" method="post" class="float-right">
                            {{ form.hidden_tag() }}
                            <button class="btn btn-danger">Delete Review</button>
                        </form>
                    </div>
                    {% else %}
                    <div class="card-body rating-buttons text-center">
                        <a href="{{ url_for('ratings.create_rating', isbn=book.isbn)}}" class="btn btn-primary">Write Review</a>
                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-5">
                <div class="card text-center">
                    <div class="card-header">
                        Goodreads
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Average Rating: {{ goodreads_data['average_rating'] }}</li>
                        <li class="list-group-item">Total Ratings: {{ goodreads_data['work_ratings_count'] }}</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header  text-center">
                        Ratings
                </div>
                {% if ratings %}
                    <ul class="list-group list-group-flush">
                    {% for rating in ratings %}
                        <li class="list-group-item">{{ rating.username }} <span class="badge badge-primary mr-2 ml-2">{{ rating.rating }}</span> {{ rating.comment }}</li>
                    {% endfor %}
                    </ul>
                {% else %}
                <div class="card-body">
                    <p class="card-text text-center">There are no ratings.</p>
                </div>
                {% endif %}
                <div class="card-footer text-muted"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}