{% extends 'base.html' %}

{% block title %}{{ message }}{% endblock  %}

{% block content %}
    <div class="jumbotron jumbotron-fluid hero mb-0">
        <div class="hero-text">
            {% if session['username'] %}
                <a href="#search" class="btn btn-warning">Search The Reviews</a>
            {% else %}
                <a href="#" class="btn btn-warning">Log In to Participate</a>
            {% endif %}
        </div>
    </div>
    {% include 'macros/_flash_messages.html' %}
    <div class="container mb-3">
        <li class="list-group">
            {% for book in books %}
                <li class="list-group-item"><i class="fa fa-book mr-3"></i><a href="{{ url_for('books.detail', isbn=book.isbn) }}">{{ book.title }}: {{ book.author }}</a> </li>
            {% endfor %}
        </li>
    </div>
{% endblock  %}