{% extends 'base.html' %}

{% block title %}Register{% endblock  %}

{% block content %}
    <div class="container mb-3">
        {% from "macros/_form_macro.html" import render_field %}
        <form action="{{ url_for('auth.register')}}" method="post" novalidate>
            <h1 class="text-center">Register</h1>
            {{ form.hidden_tag() }}
            {{ render_field(form.username, class="form-control") }}
            {{ render_field(form.password, class="form-control") }}
            {{ render_field(form.password2, class="form-control") }}
            <button class="btn btn-primary">Register</button>
        </form>{% endblock  %}
    </div>